DigitsRecognizer/FSharp/bin/
DigitsRecognizer/FSharp/obj/
MailCategorizer/FSharp/bin/
MailCategorizer/FSharp/obj/
DigitsRecognizer/DigitsRecognizer/obj/
MailCategorizer/MailCategorizer/bin/
MailCategorizer/MailCategorizer/obj/
DigitsRecognizer/DigitsRecognizer/bin/
DigitsRecognizer/CSharp/obj/
